*{
    padding: 0px;
    margin: 0px;
}   
/*GRILLA SÓLO PARA INDEX*/

.grid-uno{
    display: grid;
    /*columnas*/
    grid-template-columns: 100%;
    grid-template-rows: 50% 15% 80% 15%;
    grid-template-areas: "inicio" "header" "main" "footer"; }

.grid-uno .img-inicio {
    grid-area: inicio;
    background-image: url(../img/backgroundprincipal.jpg); opacity: 0.7; width: 100%; background-repeat: no-repeat; background-size: cover;
    height: auto; }

.grid-uno header {
    grid-area: header;
    background-image: url(../img/banner1.png); background-position: center; background-repeat: no-repeat; background-size: contain; padding-top: 10px; padding-bottom: 10px;}

.grid-uno main {
    grid-area: main;
    background-color: antiquewhite;
    background-image: url(../img/backgroundprincipal.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; }
 
.grid-uno footer {
    grid-area: footer;
    background-image: linear-gradient(to right, rgb(37, 49, 83), orange); }

/*MODIFICACIONES PARA LA PÁGINA PRINCIPAL ÚNICAMENTE*/

@keyframes texto{
    from{ margin-top: 19%;}
    to { margin-top: 0%;}
}   

.texto-bienvenida{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold; font-family: 'Bebas Neue';
  animation-name: texto;
  animation-duration: 4s;  color: rgba(250, 162, 0); background-color: rgb(37, 49, 83);
} 

.texto-bienvenida p{
    position: absolute;
  top: 150%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 0.5em;
  font-weight: bold; font-family: 'Bebas Neue'; word-spacing: 10px;
  animation-name: texto;
  animation-duration: 4s;
  color: rgba(250, 162, 0); background-color: rgb(37, 49, 83);
  
}

.button{ padding: 12px 28px; font-size: 0.2em; background-color: #555555; text-align: center; font-size: 0.5em; word-spacing: 4px;}
.button a{ text-decoration: none; color: rgba(250, 162, 0);}
.button a:hover { font-size: 1.2em;}

/*FIN DE CAMBIOS EXCLUSIVOS PARA EL INDEX*/

/* BARRA DE NAVEGACIÓN*/

nav{ margin-top: 25%; text-align: center;}

nav ul{ padding:0 ; margin: 0; width: 100%; position: fixed; top: 0; background-color: black; padding-bottom: 30px; padding-top: 15px;}

nav ul li{
    list-style: none;
    display: inline-block; list-style-position: inherit; padding-top: 5px;}


.nav-style{ text-transform: uppercase; text-align: center; color: rgb(238, 202, 149);background-color: rgba(117, 120, 122, 0.37); font-size: 1em; padding: 1rem; line-height: normal ;}

nav ul li a:hover{
    background-color: rgb(10, 10, 46);  color: orange;  }

a{text-decoration: none;}

.nav-centro{ color: white; background-color: black; font-size: 1em; padding: 1rem; line-height: normal ;}

.texto-inicio{ text-transform: uppercase; text-align: center; color: white;background-color: rgba(122, 117, 117, 0.37); font-size: 1em; padding: 1rem; line-height: normal ;
}
/*MAIN Y ASIDE*/

.flex-container{
    display: flex;
        padding: 70px;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
}

.flex-container img{
    border-style: solid; border-radius: 10px; border-color: orange;
}

.flex-container-dos {
    display: flex;
    flex-direction: column; align-content: center; justify-items: center; justify-content: center; flex-wrap: wrap; }

.flex-container-dos img{margin-top: 5%; border-style: solid; border-radius: 10px; border-color: orange; position: center; width: 100%;
}

.texto-main-uno{
    text-align: center; color: rgba(250, 162, 0); background-color: rgb(28, 33, 48)
}
.texto-main-uno h2{ 
    text-transform: uppercase; text-decoration-style: solid; margin-bottom: 10px; margin-top: 10px;
}
.texto-main-uno p{ 
    text-decoration-style: solid; font-weight: bold; font-size: 1em; padding-bottom: 10px;
}
.texto-main-dos{
    text-align: center; color: rgba(250, 162, 0); background-color: rgb(28, 33, 48)
}

.texto-main-dos h2{ 
    text-transform: uppercase; text-decoration-style: solid; margin-bottom: 10px; margin-top: 10px;
}
.texto-main-dos p{ 
    text-decoration-style: solid; font-weight: bold; font-size: 1em; padding-bottom: 10px;
}





/*GRILLA PARA TODAS LAS DEMÁS SECCIONES*/
  
.grid-dos{
    display: grid;
    /*columnas*/
    grid-template-columns: 100%;
    grid-template-rows: 30% 80% 15%;
    grid-template-areas: "header" "main" "footer";
}

.grid-dos header {
    grid-area: header;
    background-image: url(../img/banner1.png); background-position: center; background-repeat: no-repeat; background-size: cover; padding-top: 10px; width: 100%;
}
.grid-dos main {
    grid-area: main;
    background-color: antiquewhite;
    background-image: url(../img/backgroundprincipal.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%;
    display: flex; justify-items: center; justify-content: center;
}

    
.grid-dos footer {
    grid-area: footer;
    background-image: linear-gradient(to right, rgb(37, 49, 83), orange); 
}



/*GALERIA*/

.flex-galeria{display: flex; flex-flow: row wrap; justify-content: center; align-items: center; margin-top: 7%; }

div.gallery {
    margin: 5px;
     border: 3px solid orange;
     float: left;
     width: 225px;
    }
   
   div.gallery:hover {
     border: 3px solid rgb(19, 19, 49); }
   
   div.gallery img {
     width: 100%;
     height: auto; }

   div.desc {
     padding: 15px;
     text-align: center; color: white;
     background-color: rgb(19, 19, 49); }

/*FIN GALERÍA*/

/*FOOTER*/

footer{display: flex;
    flex-flow: row nowrap; justify-content: space-around; align-items: center; }

i{
    color: orange; font-size: 2em; margin-top: 10px; width: 50px;
}

i:hover{color: black;}

footer ul li{ list-style: none; text-align: center;}

footer ul li a:hover { color: black;}

footer ul li a{ text-decoration: none; color: white; }

footer div { color: white;}

/*FIN DE FOOTER*/

/*FORMULARIO DE CONTACTO*/

form{ margin-top: 45px; margin-left: 50px; margin-right: 60px;
    border-radius: 5px;
    padding: 20px;  background-image: linear-gradient(to right, rgb(37, 49, 83), orange); height: 80%;}

h5{font-weight: bold; text-align: center; font-size: 1em;}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label{color: white;}
  
  input[type=submit]{
    width: 25%;
    background-color: orange; text-transform: uppercase; 
    color: black;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset]{ width: 25%;
    background-color: orange; text-transform: uppercase;
    color: black;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;}
  
  input[type=submit]:hover {
    opacity: 0.7;
  }
  
  input[type=reset]:hover {
    opacity: 0.7;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  /*SECCION ABOUT US / QUIENES SOMOS */

  .titulo-quienes {font-size: 2em; text-align: center; background-color: rgb(37, 37, 71); margin-top: 40px; padding:20px; color: orange;}
  .texto-quienes {text-align: justify; background-color: rgb(37, 37, 71); margin-top: 20px; margin-bottom: 20px; font-size: 1.2em; font-weight: bold; word-spacing: 4px; color: orange;line-height: 30px; padding: 20px; }

  
  .info{font-size: 1em; font-weight: bold; text-align: center; padding-top: 20px;}

  .info a{ text-decoration: none; color: orange; background-color: rgb(37, 37, 71); padding: 10px;}

  .info a:hover{padding:20px}

/*SECCION PREGUNTAS FRECUENTES */

.div-preguntas h3 {font-size: 1.5em; text-align: center; background-color: rgb(37, 37, 71); margin-top: 40px; padding:10px; color: white; text-transform: uppercase;}

.div-preguntas p{ text-align: center; background-color: rgb(37, 37, 71); margin-top: 20px; margin-bottom: 20px; font-size: 1em; font-weight: bold; word-spacing: 4px; color: white;line-height: 30px; padding: 10px;  }


/*RESPOSIVE*/

/*CELULARES*/
@media screen and (max-width: 600px){
    .grid-uno  {    
    grid-template-rows: 10% 0% 90% 10%;
}
    .grid-uno header{
        background-position: center; background-size: cover;
    }

    .img-inicio{display: flex; align-content: center; justify-content: center; align-items: center;}

 .texto-bienvenida{font-size: 2em;
    font-weight: bold; font-family: 'Bebas Neue'; animation: none; position: inherit; left: 0%; right: 0%; transform: none;}

    .texto-bienvenida p{ display: none;}

    .grid-dos header { padding: 0px; background-position: inherit;}

    .credit-footer {display: none;}
    
    html{font-size: 60%;}
    
    nav ul li{font-size: 70%;}
    
    .grid-dos {
        grid-template-rows: 20% 100% 15% ;
    }
      
      input[type=submit]{
        width: 40%;
      }
      input[type=reset]{
        width: 40%;
      }

      div .gallery {
          width: 156px;
      }
}

/*TABLETA*/

@media screen and (min-width: 601px) and (max-width:1023px) {
 .grid-uno {
    grid-template-rows: 50% 10% 90% 15%;
 }
 html{font-size: 80%;}
 .credit-footer {display: none;}

 .grid-uno header{
     background-size: cover;
 }

 .grid-dos{grid-template-rows: 30% 80% 45%;}
}